
body{
    background-image: linear-gradient(#9424F0,#FD297A );
}
.box{
    
    height: 100%;
    width: 100%;
   
    color: white;
    text-align: center;
   

}
.heading{
    margin-top:5% ;
    margin-bottom: 10%;
}
h1{
    margin: auto;
    width: 20%;
    text-align: center;
}
h2{ text-align: center;
    font-size: 60px;

      
}
.circle{ margin: auto;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    border: white solid 1px;
    border-radius: 50%;
    

}

button{
    width: 100px;
    height: 100px;
    margin:50px ;
    margin-top: 7rem;
    border: 1px solid white;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: larger;

}
.btn-one{  width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 70px;

}
.btn-three{   width: 50px;
              height: 50px;
              border-radius: 50%;
              font-size: 25px;

}



@media screen and (max-width: 320px) {

   .box {
        display: flex;
        flex-direction:column;
        text-align:center ;
    }
    h1{
        margin-left: 40px;
    }
    .btn{  display: flex;
        flex-direction:row;
        justify-content: center;
        text-align: center;


    }


    .btn-one,.btn-two,.btn-three{
        width: 40px;
        height: 40px;
        margin:20px ;
        margin-top: 1rem;
        border: 1px solid white;
        border-radius: 50%;
        text-align: center;
        background-color: transparent;
        color: rgb(28, 234, 217);
        font-size: smaller;
    }
    .btn-two{  width: 60px;
        height: 60px;
        font-size: xx-small;
        margin-top: 3rem;
        
    }
}

    